boss/inbox/templates/n8n/intel_broker_news.json
{
  "_comment": "2025-02-14",
  "name": "IntelSphere Thai News Broker",
  "nodes": [
    {
      "id": "1",
      "name": "Thai Finance RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -520,
        0
      ],
      "parameters": {
        "url": "https://www.thaipbs.or.th/rss/eco",
        "options": {
          "fetchFullEntry": true
        }
      }
    },
    {
      "id": "2",
      "name": "IntelSphere Summarise",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -280,
        0
      ],
      "parameters": {
        "authentication": "none",
        "url": "={{ ($env.KKU_INTELSPHERE_BASE || 'https://api.intelsphere.kku.ac.th/v1') + '/chat/completions' }}",
        "method": "POST",
        "jsonParameters": true,
        "options": {
          "timeout": 30
        },
        "responseFormat": "json",
        "bodyParametersJson": "={{ { \"model\": \"kku-llm-1\", \"messages\": [ { \"role\": \"system\", \"content\": \"You are a Thai assistant for financial analysis.\" }, { \"role\": \"user\", \"content\": `สรุปและทำคีย์เวิร์ดข่าวนี้ + ให้ sentiment (bullish/bearish/neutral) แบบย่อ:\n${$json.item.content}` } ], \"temperature\": 0.3 } }}"
      },
      "headerParametersJson": "={{ { Authorization: $env.KKU_INTELSPHERE_KEY ? `Bearer ${$env.KKU_INTELSPHERE_KEY}` : undefined, 'Content-Type': 'application/json' } }}"
    },
    {
      "id": "3",
      "name": "Build Digest",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -40,
        0
      ],
      "parameters": {
        "functionCode": "const source = $items(\"Thai Finance RSS\", 0, $itemIndex).json;\nconst intel = $json;\nconst choice = Array.isArray(intel?.choices) ? intel.choices[0] : undefined;\nconst message = (choice && choice.message && choice.message.content) ? choice.message.content : '';\nreturn [{\n  json: {\n    feed: {\n      title: source.item?.title || source.title,\n      link: source.item?.link || source.link,\n      pubDate: source.item?.pubDate || source.pubDate,\n      content: source.item?.content || source.content\n    },\n    summary: message,\n    generated_at: new Date().toISOString(),\n    provider: 'IntelSphere'\n  }\n}];"
      }
    },
    {
      "id": "4",
      "name": "Write Digest",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "parameters": {
        "fileName": "={{ ($env.HD2_PATH || $env.HD2_MOUNT || '/Volumes/HD2') + '/trading/news/processed/' + (($json.feed && $json.feed.pubDate) ? $moment($json.feed.pubDate).format('YYYYMMDD_HHmm') : $now().format('YYYYMMDD_HHmm')) + '.json' }}",
        "data": "={{ JSON.stringify($json, null, 2) }}",
        "options": {
          "encoding": "utf8"
        }
      }
    },
    {
      "id": "5",
      "name": "Redis Notify Paula",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "parameters": {
        "resource": "string",
        "operation": "publish",
        "channel": "paula:signal",
        "message": "={{ JSON.stringify({ source: 'intel_broker_news', file: ($json.feed && $json.feed.pubDate) ? $moment($json.feed.pubDate).format('YYYYMMDD_HHmm') : $now().format('YYYYMMDD_HHmm'), sentiment: $json.summary }) }}"
      }
    },
    {
      "id": "6",
      "name": "Fallback LLM Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -40,
        220
      ],
      "parameters": {
        "url": "={{ $env.OPENAI_BASE_URL || $env.CLAUDE_BASE_URL }}",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={{ $env.OPENAI_API_KEY ? { model: ($env.OPENAI_MODEL || 'gpt-4.1-mini'), messages: [{ role: 'system', content: 'Fallback LLM for Thai financial news.' }, { role: 'user', content: 'สรุปข่าวนี้:\n' + $json.item.content }] } : { model: ($env.CLAUDE_MODEL || 'claude-3-haiku-20240307'), messages: [{ role: 'system', content: 'Fallback LLM for Thai financial news.' }, { role: 'user', content: 'สรุปข่าวนี้:\n' + $json.item.content }] } }}"
      }
    }
  ],
  "connections": {
    "Thai Finance RSS": {
      "main": [
        [
          {
            "node": "IntelSphere Summarise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IntelSphere Summarise": {
      "main": [
        [
          {
            "node": "Build Digest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback LLM Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Digest": {
      "main": [
        [
          {
            "node": "Write Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Digest": {
      "main": [
        [
          {
            "node": "Redis Notify Paula",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true
  },
  "versionId": "intel-broker-news-v1"
}
